* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf39e;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 4rem;
  height: 100%;
}

.file-upload {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.file-upload h2 {
  margin-bottom: 10px;
  font-family: Arame;
  font-size: 1.6em;
}

.file-upload div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
}

.file-input {
  padding-bottom: 10px;
  font-size: 1.1em;
  font-family: Consolas;
  font-weight: bold;
}

::-webkit-file-upload-button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
  box-shadow: 2px 2px 0px #000000;
  font-family: Arame;
  border-radius: 0.2em;
  margin-right: 15px;
  padding: 0.2em 1em 0.2em 1em;
  width: 140px;
}

.file-upload button {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  font-family: Arame;
  font-size: 1.125em;
  padding: 0.28em 1.2em 0.28em 1.2em;
  width: 150px;
  background-image: linear-gradient(
    120deg,
    #ecf39e,
    #90a955,
    #4f772d,
    #31572c,
    #132a13,
    #ecf39e
  );
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
}

.file-upload button:hover {
  -webkit-animation: play 0.6s ease-in-out infinite;
  animation: play 0.6s ease-in-out infinite;
}

@-webkit-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -300px;
  }
}
@keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -300px;
  }
}
